doctype html
html(ng-app="ngBoilerplate" ng-controller="AppCtrl")
  head
    title= title
    base(href='/')

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    block styles

    // STYLES
    link(rel="stylesheet", href="/vendor/bootstrap-sass/scss/bootstrap.css")
    link(rel="stylesheet", href="/vendor/components-font-awesome/scss/font-awesome.css")
    // STYLES END

  body
    block body

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/vendor/jquery/jquery.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-ui-router/angular-ui-router.js")
    script(src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="/vendor/bootstrap-sass/js/bootstrap.js")
    script(src="/vendor/bootstrap-sass/js/bootstrap.min.js")
    script(src="/js/dependencies/sails.io.js")
    script(src="/app/about/about.js")
    script(src="/app/app.js")
    script(src="/app/home/home.js")
    script(src="/app/jade/jade.js")
    script(src="/app/templates-app.js")
    script(src="/common/placeholders/angular-placeholders-0.0.1-SNAPSHOT.min.js")
    script(src="/common/templates-common.js")
    // SCRIPTS END

